# dependencies
/node_modules

# next.js
/.next/

#
.eslintrc.json
.env
.env.local
.vscode
.gitignore

# production
/build

# assets
/public

# drafts
/ui/skeletons.jsx
/lib/data.js
/data/api.js
/data/loaders.js
/ui/navigation/MainNavigationServer.jsx