@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: rgb(var(--foreground-rgb));
  background: url('../public/assets/bg.png') no-repeat center center fixed;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  width: 600px;  /* Adjust width as necessary */
  height: 600px;  /* Adjust height as necessary */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.3);

}

.project-card h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 10;
}

.project-card button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}