@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: rgb(var(--foreground-rgb));
  background: url('../public/assets/bg.png') no-repeat center center fixed;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.project-card {
  width: 600px;
  height: 600px;
  /* box-shadow: 15px 15px 15px 15px  rgba(199, 199, 199, 0.486); */
}

.project-card h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}


/* Dropdown menu styling */
.dropdown-content {
  display: flex;
  flex-direction: column;
}

/* Ticking typewriter effect */
.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.7s steps(20, end) forwards;
}

.blink-caret {
  animation: blink-caret 0.7s steps(20, start) forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: #ff0202; }
  100% { border-color: #ff0000; }
}

.navlink:hover {
  color: #00FF00;
}

.mainNavItem {
  margin-left: 30px;
}