@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: rgb(var(--foreground-rgb));
  background: url('../public/assets/bg.png') no-repeat center center fixed;
  background-size: cover;
}

.project-card {
  width: 600px;
  height: 600px;
  /* box-shadow: 15px 15px 15px 15px  rgba(199, 199, 199, 0.486); */
}

.project-card h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.navlink:hover {
  color: #00FF00;
}

.navlink-cat:hover {
  color: rgb(192, 55, 223);
}

.mainNavItem {
  margin-left: 30px;
}